# Day3-1 作業
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果。請嘗試想像一個你需要的資料結構 (裡面的值是隨機的)，然後用程式碼範例的方法把它變成 DataFrame

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果<br>
請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame<br>
<br>
Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家<br>
Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [39]:
# Hard Code
# 建置一個dataFrame樣本
data = {'國家': ['Taiwan', 'Japan', 'America', 'Singapore', 'China'],
        '人口': [23000000, 126800000, 325700000, 5612000, 1386000000]}
data = pd.DataFrame(data)

In [27]:
# 檢視資料
data

          國家          人口
0     Taiwan    23000000
1      Japan   126800000
2    America   325700000
3  Singapore     5612000
4      China  1386000000

In [42]:
# 人口最多的比數為 index 4
data['人口'].idxmax()

4

In [43]:
# 人口最多的國家
data['國家'][data['人口'].idxmax()]

'China'

In [48]:
# 讓人口數隨機產生, 範圍從0到100000, 產生五筆整數
# 建置一個dataFrame樣本
data = {'國家': ['A', 'B', 'C', 'D', 'E'],
        '人口': np.random.randint(0, 100000, 5)}
data = pd.DataFrame(data)

In [49]:
# 檢視資料
data

  國家     人口
0  A  99050
1  B  22239
2  C  24157
3  D  13037
4  E  47669

In [50]:
# 人口最多的國家
data['國家'][data['人口'].idxmax()]

'A'